<ion-header [translucent]="true">
  <ion-toolbar style="color: rgb(255, 255, 255)">
    <ion-title  style="background-color: rgb(120, 216, 208);">
      Primeiro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card *ngFor="let card of cardS"  style="background-color: rgb(202, 253, 255);">
      <ion-card-header>
    
        <ion-card-title  style="color: rgb(63, 76, 189);">{{card.titulo}} </ion-card-title>
        <ion-card-subtitle style="color: black;">{{card.subtitulo}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-img [src]="card.foto"></ion-img>
        
       

       {{card.conteudo}}
   
      </ion-card-content>
    </ion-card>

   
  
</ion-content>
